/* Portfolio style.css file */ 

form {
    margin-left: 10;
}

h1
{
    background-color:  #4aaaa5;
    border-color:  #4aaaa5;
    margin: 11 10;
	padding: 10px;
	border: 0;
    font-size: 30px;
    color: white;
    vertical-align: text-bottom;
    font: georgia;
}

h2 {
    margin-left: 10px;
    font-size: 25;
    color:  #4aaaa5;
}
 
h3 {
    color: #4aaaa5;
}

h4 {
    font-size: 20;
    margin-left: 60px;
    color:  #4aaaa5;
}
    
h6 {
    text-align: center;
    color: white;
}

p {
    margin-left: 10;
    color: #777777;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    width: 1060px;
    height: 100%;
    margin: 0;
    background-color: rgb(219, 211, 200);
}
body {
    background-color: rgb(219, 211, 200);
    line-height: 1;
    width: 1060px;
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }

ol, ul {
    list-style: none;
    color: #4aaaa5;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    float: left;
    margin: 0 10 0 0;
	padding: 0;
    border: 0;  
}

/* About Me */
div.container1 {
    width: 650px; 
    height: 500;          
    border: 2px  #dddddd;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 5px;   
    float: left
}

/* Connect with Me links */
div.container2 {
    width: 270px; 
    height: 200;          
    border: 2px  #dddddd;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 5px;
    float: right;
}

div.container3 {
    width: 650px; 
    height: 500;          
    border: 2px  #dddddd;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 5px;   
    float: left
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.port1{
    width: 250px;
    height: 180;
    position: absolute;
    text-align: center;
    color: white;
    float: left;
    margin-left: 50;
    margin-top:15;
}

div.port2{
    margin-left: 350px;
    margin-top:15;
    width: 250px;
    height: 180;
    position: absolute;
    text-align: center;
    color: white;
}

    div.port3{
        margin-left: 50px;
        margin-top: 220;
        width: 250px;
        height: 180;
        position: absolute;
        text-align: center;
        color: white;
    }

    div.port4{
        margin-left: 350px;
        margin-top: 220;
        width: 250px;
        height: 180;
        position: absolute;
        text-align: center;
        color: white;
}

div.InsideBox{
    width:100%;
    height: 25%;
    border: 0;
    background-color: #4aaaa5;
    position: absolute;
    top: 66%;
    font-size: 25;
}

div.header {
    width: 1060px;
    height: 75px;
    border: .5px solid #cccccc;
    background-color: #ffffff;
}

div.main {
    width: 960px;
    height: 550px;
    border: 1px  #dddddd;
    background-color:  rgb(219, 211, 200);
    margin-left: 9.434%;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* About, Portfolio, Contacts Link Box */
div.links {
    box-sizing: border-box;
    height: 100%;
    width: 270px;
    border: .1px white;
    margin: 0 0 0 790px;
    color: #4aaaa5;
}

/* Name inside header */
div.box1 {
    box-sizing: border-box;
    margin-left: 9.434%;
    font-size: 25px;
    height: 100%;
    background-color: #4aaaa5;
    float: left;
}

div.boxFooter {
    width: 1060px;
    height: 65px;
    border: 0.1px solid slategray;
    background-color: slategray;
}

div.topFooter {
    width: 1060px;
    height: 10px;
    border: 0.1px  #4aaaa5;
    background-color: #4aaaa5;
}

div.boxAbout {
    box-sizing: border-box;
    font: arial;
    color:  #4aaaa5;
    font-size: 14px;  
    float: left;
    margin: 0 0 0 7px;
    }


div.boxPortfolio {
    box-sizing: border-box;
    font: arial;
    color:  #4aaaa5;
    font-size: 14px;
    float: left; 
    margin: 0 0 0 7px;   
    }

div.boxContact {
    box-sizing: border-box;
    font: arial;
    color: white;
    font-size: 14px;
    float: left;
    margin: 0 0 0 7px;
    }

    a:link {
        text-decoration: none;
        color:white;
    }
    
    a:visited {
        text-decoration: none;
        color:white;
    }
    
    a:hover {
        text-decoration: none;
        color:rgb(165, 31, 31);
    }
    
    a:active {
        text-decoration: none;
        color:white;
    }

    .text {
        width: 98%;  
    }

    .message_text {
        width: 98%;  
        height: 50%;
    }

  